@import '../App/variables';

main {
    .container{
        display: flex;
        .left-side{
            width: 35%;
            border-left: 1px solid $border;
            border-right: 1px solid $border;
            display: flex;
            flex-direction: column;
        }
        .right-side{
            background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--WAKqnINn--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/tw0nawnvo0zpgm5nx4fp.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 65%;
            border-right: 1px solid $border;
            display: flex;
            flex-direction: column;
            .select-user-container{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: $medium){
    main {
        .container {
            .left-side{
                width: 45%;
            }
            .right-side{
                width: 55%;
            }
        }
    }
}

@media screen and (max-width: 420px){
    main {
        overflow-x: hidden;
        .container {
            position: relative;
            .left-side{
                width: 100%;
            }
            .right-side{
                width: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                transform: translateX(100%);
                transition: transform .3s ease-in-out;
            }
            .show-destiny {
                transform: translateX(0%) !important;
            }
        }
    }
}

