$blue: #538bfa;
$light_blue: #538bfad3;
$light_grey: #fafafa;
$dark_grey: #5e5d5d;
$green: #05a705;
$border: #5d5d5e41;

$mini: 400px;
$cellphone: 480px;
$medium: 640px;
$tablet: 768px;
$desktop: 1024px;